@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Administrative";
}

<div class="clearfix"></div>


<div class="page_title3">
    <div class="container">

        <h1>
            Administrative Block <em>Government Engineering College</em>
            <div class="line"></div>
        </h1>

    </div>
</div>
<div class="clearfix"></div>


<div class="content_fullwidth">

    <div class="container">

        <div class="one_half">

            <div id="owl-demo2" class="owl-carousel">

                <div><img src="@Url.Content("~/images/Administrative/College.jpg")" alt="" class="rimg"></div>

            </div>

        </div>
        <!-- end section -->

        <div class="one_half last">

            <div class="stcode_title5">
                <h3 class="nmb"><strong>Administrative Block</strong></h3>
            </div>

            @*<h5 class="gray">Will cover many web sites still in their infancy various versions have evo packages over the years.</h5>*@

        <p>The Administrative Block is a well-planned and spacious building that consists of the vast Reception area and the well-laid out corporate sector that includes the the Principal’s office, the Accounts Office, the Executive Office, the Administrative Officer’s office ,the Board Room and the Conference Hall.</p>

            <div class="clearfix marb12"></div>

        </div>
        <!-- end section -->

    </div>
    <!-- end all sections -->
    <div class="margin_top4"></div>