@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "TEQIP";
}

<div class="clearfix"></div>


<div class="page_title3">
    <div class="container">

        <h1>
            TEQIP<em>Government Engineering College</em>
            <div class="line"></div>
        </h1>

    </div>
</div>
<div class="clearfix"></div>


<div class="content_fullwidth">

    <div class="container">

        <div class="one_half">

            <div id="owl-demo2" class="owl-carousel">

                <div><img src="@Url.Content("~/images/TEQIP/Government-Engineering-College-Patan-01.jpg")" alt="" class="rimg"></div>

                <div><img src="@Url.Content("~/images/TEQIP/download.jpg")" alt="" class="rimg"></div>

                <div><img src="@Url.Content("~/images/TEQIP/college.jpeg")" alt="" class="rimg"></div>

            </div>

        </div>
        <!-- end section -->

        <div class="one_half last">

            <div class="stcode_title5">
                <h3 class="nmb"><strong>TEQIP</strong></h3>
            </div>

            @*<h5 class="gray">Will cover many web sites still in their infancy various versions have evo packages over the years.</h5>*@

        <p>
            Technical Education Quality Improvement Programme of Government of India (TEQIP) was conceived in pursuance of the National Policy on Education 1986 (Revised in 1992) with a Goal to scale-up and improve quality of technical education and enhance existing capacities of the institutions to become dynamic, demand driven, quality conscious, efficient and forward looking, responsive to rapid economic and technological developments occurring both at national and international levels. TEQIP is being implemented as a World Bank assisted Project to improve the quality of technical education system in the country.
        </p>

            <div class="clearfix marb12"></div>

        </div>
        <!-- end section -->

    </div>
    <!-- end all sections -->

    

    

            <div id="grid-container" class="cbp-l-grid-fullWidth">

                <div class="cbp-item identity logos">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="images/media/works-img1.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>Model as Structures</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="images/media/works-img1.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Model as Structures <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end item -->

                <div class="cbp-item web-design">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="images/media/works-img2.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>Looking Publishing</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="images/media/works-img2.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Looking Publishing <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end item -->

                <div class="cbp-item identity">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="images/media/works-img3.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>Webpage as Packages</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="images/media/works-img3.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Webpage as Packages <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end item -->

                <div class="cbp-item web-design">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="images/media/works-img4.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>Software Versions</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="images/media/works-img4.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Software Versions <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end item -->

                <div class="cbp-item graphic">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="images/media/works-img5.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>Printer took Galley</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="images/media/works-img5.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Printer took Galley <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end item -->

                <div class="cbp-item">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="images/media/works-img6.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>Popularise Release</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="images/media/works-img6.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Popularise Release <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end item -->

                <div class="cbp-item graphic web-design">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="images/media/works-img7.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>Classical Through</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="images/media/works-img7.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Classical Through <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end item -->

                <div class="cbp-item logos">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="images/media/works-img8.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>Alteration Words</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="images/media/works-img8.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Alteration Words <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end item -->

                <div class="cbp-item web-design">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="images/media/works-img5.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>Printer took Galley</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="images/media/works-img5.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Printer took Galley <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end item -->

                <div class="cbp-item graphic">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="images/media/works-img6.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>Popularise Release</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="images/media/works-img6.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Popularise Release <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end item -->

                <div class="cbp-item logos web-design">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="images/media/works-img7.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>Classical Through</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="images/media/works-img7.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Classical Through <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end item -->

                <div class="cbp-item">
                    <div class="cbp-caption graphic">
                        <div class="cbp-caption-defaultWrap">
                            <img src="images/media/works-img8.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>Alteration Words</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="images/media/works-img8.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Alteration Words <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end item -->

            </div>

            <!--<div class="cbp-l-loadMore-text">
                <div data-href="ajax/loadMore.html" class="cbp-l-loadMore-text-link">LOADING...</div>
            </div>-->


        </div>
    </div>
    <!-- end works section -->


   