<!-- Slider
        ======================================= -->
<!-- masterslider -->
<div class="slidermar">
    <div class="master-slider ms-skin-default" id="masterslider">

        <div class="ms-slide slide-1" data-delay="9">

            <div class="slide-pattern"></div>

            <!--<img data-src="images/college.jpg" alt="" />-->
            <img data-src="@Url.Content("~/images/Home/slider1.png")" alt="" />




        </div>
        <!-- end slide 1 -->


        <div class="ms-slide slide-2" data-delay="9">

            <div class="slide-pattern"></div>

            <img data-src="@Url.Content("~/images/Home/slider2.png")" alt="" />

        </div>
        <!-- end slide 2 -->


        <div class="ms-slide slide-3" data-delay="9">

            <div class="slide-pattern"></div>

            <img data-src="@Url.Content("~/images/Home/slider3.png")" alt="" />




        </div>
        <!-- end slide 3 -->

    </div>
</div>
<!-- end of masterslider -->