@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Courses And Intake";
}
<div class="clearfix"></div>

<div class="page_title3 engg_title">
    <div class="container">

        <h1>
            Courses And Intake <em>Government Engineering College</em>
            <div class="line"></div>
        </h1>

    </div>
</div>
<!-- end page title -->


<div class="clearfix margin_top2"></div>



<div class="content_fullwidth">

    <div class="container">

        <div class="one_half">

            <div id="owl-demo2" class="owl-carousel">

                <div><img src="@Url.Content("~/images/Institute/AboutUs/clg3.jpeg")" alt="" class="rimg"></div>

                <div><img src="@Url.Content("~/images/Institute/AboutUs/clg1.jpg")" alt="" class="rimg"></div>

                @*<div><img src="@Url.Content("~/images/convocation.jpg")" alt="" class="rimg"></div>*@

            </div>

        </div>
        <!-- end section -->

        <div class="one_half last text-justify">

            <div class="stcode_title5">
                <h3 class="nmb"><strong>History of GECP</strong></h3>
            </div>

            @*<h5 class="gray">Will cover many web sites still in their infancy various versions have evo packages over the years.</h5>*@

            <p>
                Government Engineering College, Patan was established in April 2004 with three branches Computer Engineering, Electronics and Communication Engineering and Mechanical Engineering each with intake of 60 totaling to 180. The institute was initially functioning in the premises of the K. D. Polytechnic, Patan temporarily. It was shifted to its own newly built up green premise in August 2008 at Katpur village on Chanasma- Patan road 8 kms before Patan.
                <br />
                Two more branches of Electrical Engineering and Civil Engineering each with intake of 60 were introduced from June- 2009. The intake of Electronics and communication was reduced to 30 and Mechanical Engineering was reduced to 90 from 2020. Currently institute have total intake 360.
            </p>

            <div class="clearfix marb12"></div>

        </div>
        <!-- end section -->

    </div>
    <!-- end all sections -->
	<div class="clearfix"></div>

	<div class="full-container">
		<div class="text-center">
		<h4>
			<b>Under Graduate Courses</b>
		</h4>
		</div>
		<br />
			
		<table class="table table-striped table-bordered">
			<tbody>
				<tr>
					<th style="text-align:left;">Program</th>
					
					<th style="text-align:center;">Present Intake</th>
					<th style="text-align:center;">Course Code as per (GTU)</th>
				</tr>
				<tr>
					<td align="left">Electronics And Communication Engineering</td>
					
					<td align="center">30</td>
					<td align="center">11</td>
				</tr>
				<tr>
					<td align="left">Civil Engineering</td>
					
					<td align="center">60</td>
					<td align="center">06</td>
				</tr>
				<tr>
					<td align="left">Computer Science Engineering</td>
					
					<td align="center">120</td>
					<td align="center">31</td>
				</tr>
				
				<tr>
					<td align="left">Electrical Engineering</td>
					
					<td align="center">60</td>
					<td align="center">09</td>
				</tr>
				
				<tr style="border-bottom: 1px solid #e7e7e7;">
					<td align="left">Mechanical Engineering</td>
					
					<td align="center">60</td>
					<td align="center">19</td>
				</tr>
			</tbody>
		</table>
		<br>
		
		<!--=== End Content Part ===-->
	</div>
