@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "NSS";
}

<div class="clearfix"></div>


<div class="page_title3 nss_title">
    <div class="container">

        <h1>
            DESIGN LAB <em>Government Engineering College</em>
            <div class="line"></div>
        </h1>

    </div>
</div>
 
<div class="margin_top5"></div>
<div class="container">
    <div class="clearfix"></div>
    <div class="featured_section69">
      
        
            <div>
                <img src="../../images/ssip_banner.jpg" alt="Alternate Text" style="width:1170px"/>
            </div>
            
            <div class="margin_top3"></div>
            
            <div class="text-justify">
                

                
                    <i class="fa  fa-hand-o-right"></i>The Design Lab at Government Engineering College, Patan, has been established with the support of the Gujarat Council on Science and Technology (GUJCOST), under the Department of Science & Technology, Government of Gujarat. This initiative aims to foster creativity, innovation, and research among students and academic researchers by providing a platform to transform ideas into tangible prototypes.
                    <br />
                <br />

                <i class="fa  fa-hand-o-right"></i>The Design Lab at GEC Patan serves as an incubation center where students can experiment, prototype, and develop innovative solutions in various domains of Science, Engineering, and Technology. Equipped with state-of-the-art tools and technology, the lab enables students to work on lab-scale projects, pilot models, and intellectual property generation such as patents and industrial designs.

                
                <br />
                <br />
                <i class="fa  fa-hand-o-right"></i>To ensure the best facilities, an expert committee formulated a list of essential instruments, which were procured through a tender process from M/s. M G Automation Technologies, Nagpur. The entire setup has been fully funded by GUJCOST, with a total investment exceeding ₹20 Lakhs INR.
               
                <br />
                <br />
                <i class="fa  fa-hand-o-right"></i>This initiative at GEC Patan aligns with the vision of promoting design thinking, practical learning, and innovative research among engineering students. The Design Lab stands as a testament to the commitment of the institution towards nurturing technological advancements and fostering the next generation of innovators.

                <br />
                <br/>


               
            </div>
            </div>
            
            <div class="margin_bottom10"></div>
       
    </div>
</div>

