@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "NSS";
}

<div class="clearfix"></div>


<div class="page_title3 nss_title">
    <div class="container">

        <h1>
            DESIGN LAB <em>Government Engineering College</em>
            <div class="line"></div>
        </h1>

    </div>
</div>
<div class="clearfix"></div>


