@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "NSS";
}

<div class="clearfix"></div>


<div class="page_title3 nss_title">
    <div class="container">

        <h1>
            DESIGN LAB <em>Government Engineering College</em>
            <div class="line"></div>
        </h1>

    </div>
</div>
 
<div class="margin_top5"></div>
<div class="container">
    <div class="clearfix"></div>
    <div class="featured_section69">
      
        <div class="">
            <div>
                <img src="../../images/ssip_banner.jpg" alt="Alternate Text" style="width:1170px"/>
            </div>
            <div class="margin_top3"></div>
            
            <div class="text-justify" style="padding-left:68px">
                

                <p>
                    <i class="fa  fa-hand-o-right"></i>Gujarat Council on Science and Technology (GUJCOST), Govt. of Gujarat, working under the aegis of the Department of Science &amp; Technology, Government of Gujarat has been emerging as an effective
                    the Department of Science &amp; Technology, Government of Gujarat has been emerging as an effective
                    and large-scale science promotion and popularization platform in the state. GUJCOST has been
                    assigned to execute this scheme of establishment of Design Lab with appropriate concept and
                    content at L D College of Engineering. This lab has taken its shape at the aegis of EC Department, LD
                    College of Engineering, Ahmedabad at Ground Floor, Annexe Building.
                </p>
                <p>
                    <i class="fa  fa-hand-o-right"></i>Design Lab is a platform for the young students with creative and innovative ideas. In the Design Lab,
                    they can transform their idea into a tangible form. Students and academic researcher with
                    innovative ideas, can get benefited with such Design Labs, where they can easily transform their
                    creative ideas into deliverable form, at least on a lab scale or pilot project basis. Design Labs in
                    Science, Engineering, and Technology disciplines work as a generator of intellectual properties like
                    patents and industrial designs.
                </p>
                <p>
                    <i class="fa  fa-hand-o-right"></i>In order to provide a creative platform for students to innovate, at LDCE with support DST/GUJCOST
                    has establish Design Lab.
                    Where an expert committee had prepared the list of instruments.
                    The same was procured through tender process from M/s. M G Automation Technologies, Nagpur. The
                    lab is fully funded by GUJCOST.
                    The cost of all the supplied item bill of material is more than 20 Lakhs
                    INR


                </p>
            </div>
            </div>
            <div class="margin_bottom5"></div>
        </div>
    </div>
</div>

