@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "AntiRagging";
}

<div class="clearfix"></div>


<div class="page_title3">
    <div class="container">

        <h1>
            Anti Ragging Cell <em>Government Engineering College</em>
            <div class="line"></div>
        </h1>

    </div>
</div>
<div class="clearfix"></div>


<div class="content_fullwidth">
    <div class="featured_section55 animate" data-anim-type="fadeIn" data-anim-delay="100">
        <div class="container">

            <h2 class="caps">About GECP Anti Ragging</h2>

            <br /><br />

            <div class="one_third">

                <h4 class="color3 margin_bottom2">GECP Anti Ragging</h4>
                <p class="bigtfont">
                    According to UGC regulations 2009 on curbing the menace of ragging in higher educational institutions, we at GEC Patan has been running active antiragging committee/squad to prevent any issue regarding ragging to be happen in institute premises.
                </p>

            </div>
            <!-- end section -->

            <div class="one_third">

                <img src="@Url.Content("~/images/Anti-Ragging.png")" alt="" width="358.6px" height="199.783px">

            </div>
            <!-- end section -->

            <div class="one_third last">

                <h4 class="color3 margin_bottom2">GECP Measures</h4>
                <p class="bigtfont">
                    We are taking undertaking forms from parents as well as from students of each semester and this we are doing every year to prevent any incident of ragging in future. We are supplying all information regarding antiragging committee functioning at institute level among all students; especially new comers. 
                    No such ragging incident has been recorded in this institute from the beginning to till date.
                </p>

            </div>
            <!-- end section -->

        </div>
    </div>
</div>
<!-- end featured section 55 -->
<div class="margin_top2"></div>
<div class="featured_section14">
    <div class="container">

        <div class="one_half animate" data-anim-type="fadeInLeft" data-anim-delay="300">

            <img src="@Url.Content("~/images/icon-img13.png")" alt="" />
            <br /><br />
            <h3 class="white">Vision</h3>

            <p>To build a ragging free environment by instilling the principles of democratic values, tolerance, empathy, compassion and sensitivity to that students become responsible citizens </p>
            <br /><br />


        </div>
        <!-- end section -->

        <div class="one_half last animate" data-anim-type="fadeInRight" data-anim-delay="300">

            <img src="@Url.Content("~/images/icon-img12.png")" alt="" />
            <br /><br />
            <h3 class="white">Mission</h3>

            <p>To create an atmosphere of discipline by passing a clear message that no act of ragging in college premises.</p>
            <br /><br />


        </div>
        <!-- end section -->

    </div>
</div>
<!-- end featured section 14 -->

<div class="clearfix margin_top2"></div>
<div class="featured_section38">
    <div class="container">

        <h1 class="animate" data-anim-type="fadeIn" data-anim-delay="200">“Ragging does not break the person or ice it breaks <b>Career, Family and Lives.” ...</b></h1>


    </div>
</div>
<!-- end featured section 38 -->
