@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Grievence";
}

<div class="clearfix"></div>


<div class="page_title3">
    <div class="container">

        <h1>
            Grievence Cell <em>Government Engineering College</em>
            <div class="line"></div>
        </h1>

    </div>
</div>
<div class="clearfix"></div>

<div class="content_fullwidth">
    <div class="featured_section55 animate" data-anim-type="fadeIn" data-anim-delay="100">
        <div class="container">

            <h2 class="caps">About GECP Grievence</h2>

            <br /><br />

            <div class="one_third">

                <h4 class="color3 margin_bottom2">GECP Grievence Cell</h4>
                <p class="bigtfont">
                    Making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is
                    therefore always.
                </p>

            </div>

            <!-- end section -->

            <div class="one_third">

                <img src="@Url.Content("~/images/grievence.jpg")" alt="" width="358.6px" height="199.783px">

            </div>

            <!-- end section -->

            <div class="one_third last">

                <h4 class="color3 margin_bottom2">GECP Measures</h4>
                <p class="bigtfont">
                    Making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is
                    therefore always.
                </p>

            </div>



        </div>
    </div>

</div>


<div class="margin_top2"></div>
<div class="featured_section14">
    <div class="container">

        <div class="one_half animate" data-anim-type="fadeInLeft" data-anim-delay="300">

            <img src="@Url.Content("~/images/icon-img13.png")" alt="" />
            <br /><br />
            <h3 class="white">Vision</h3>

            <p>Simply dummy text of the printing and typesettin industry has been the industrys standard dummy text where ever since the when printer took galley it to make a specimen book.</p>
            <br /><br />


        </div>

        <!-- end section -->


        <div class="one_half last animate" data-anim-type="fadeInRight" data-anim-delay="300">

            <img src="@Url.Content("~/images/icon-img12.png")" alt="" />
            <br /><br />
            <h3 class="white">Mission</h3>

            <p>Simply dummy text of the printing and typesettin industry has been the industrys standard dummy text where ever since the when printer took galley it to make a specimen book.</p>
            <br /><br />


        </div>



    </div>
</div>

<!-- end featured section 14 -->



<div class="featured_section19">
    <div class="container">

        <div class="who animate" data-anim-type="fadeInLeft" data-anim-delay="400"><img src="@Url.Content("~/images/site-img16.png")" alt="" /></div>

        <div class="text animate" data-anim-type="fadeIn" data-anim-delay="500">

            <h1>Grievence Head Message</h1>

            <p>
                Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for lorem ipsum evolved over the years somietimes by accident sometimes on purpose.
                <br /><br /> Where are many variations of passages of Lorem Ipsum available but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are Ipsum
                generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
            </p>
            

        </div>

    </div>
</div>

<!-- end featured section 19 -->


<div class="featured_section38">
    <div class="container">

        <h1 class="animate" data-anim-type="fadeIn" data-anim-delay="200">“Share your Grievence move forward <b>And Grow.” ...</b></h1>


    </div>
</div>
