@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Grievence";
}

<div class="clearfix"></div>


<div class="page_title3">
    <div class="container">

        <h1>
            Grievence Cell <em>Government Engineering College</em>
            <div class="line"></div>
        </h1>

    </div>
</div>
<div class="clearfix"></div>

<div class="content_fullwidth">
    <div class="featured_section55 animate" data-anim-type="fadeIn" data-anim-delay="100">
        <div class="container">

            <h2 class="caps">About GECP Grievence</h2>

            <br /><br />

            <div class="one_third">

                <h4 class="color3 margin_bottom2">GECP Grievence Cell</h4>
                <p class="bigtfont">
                    Government Engineering College, Patan has established an Grievance Cell, to provide a mechanism for redressal of students' grievances. 
                    The function of the cell is to look into the complaints lodged by any student, and judge its merit. The Grievance cell is also empowered to look into matters of harassment.
                </p>

            </div>

            <!-- end section -->

            <div class="one_third">

                <img src="@Url.Content("~/images/grievence.jpg")" alt="" width="358.6px" height="199.783px">

            </div>

            <!-- end section -->

            <div class="one_third last">

                <h4 class="color3 margin_bottom2">GECP Measures</h4>
                <p class="bigtfont">
                    The objective of the Grievance Cell in Government Engineering College, Patan is to develop a responsive and accountable attitude among all the students in order to maintain a harmonious educational atmosphere in the institute.
                </p>

            </div>



        </div>
    </div>

</div>


<div class="margin_top2"></div>
<div class="featured_section14">
    <div class="container">

        <div class="one_half animate" data-anim-type="fadeInLeft" data-anim-delay="300">

            <img src="@Url.Content("~/images/icon-img13.png")" alt="" />
            <br /><br />
            <h3 class="white">Vision</h3>

            <p>To develop a responsible and accountable attitude among all the students in order to maintain a harmonious educational ambience in the institute and uphold the dignity & divinity of the colleg.</p>
            <br /><br />


        </div>

        <!-- end section -->


        <div class="one_half last animate" data-anim-type="fadeInRight" data-anim-delay="300">

            <img src="@Url.Content("~/images/icon-img12.png")" alt="" />
            <br /><br />
            <h3 class="white">Mission</h3>

            <p>Advising students of the college to respect the right of dignity of one another. Encouraging the students to express their grievances/ suggestions freely for a smooth relationship and keep up the standard and discipline of the college.</p>
            <br /><br />


        </div>



    </div>
</div>

<!-- end featured section 14 -->

<div class="content_fullwidth less2">
    <div class="container">
        <div class="one_half">

            <img src="@Url.Content("~/images/CampusCommittee/Grievance/Banner.jpg")" class="img-responsive" />
        </div>

        <div class="one_half last">

            <p>Feel free to talk about the problem you're facing. If you are not able to say it in person, you can tell us here and we will take necessory steps to resolve your problem.</p>
            <br />
            Please mention below category in square brackets along with subject.
            <ul class="">
                <li>1. Women Cell</li>
                <li>2. Placement Cell</li>
                <li>3. Anti Ragging</li>
                <li>4. Other</li>
            </ul>
            @*For example,
                <ul>
                    <li> For making a complaint to women cell, your subject should be <strong>[Women Cell] Your Subject.</strong></li>
                    <li> For making a complaint to placement cell, your subjet should be <strong>[Placement Cell] Your Subject.</strong></li>
                </ul>
                <br />*@
            <p>Please be patient. Some problems needs digging and that may take some time.</p>
            <br /><br />

            <div class="cforms">


                <div id="form_status"></div>

                <form type="POST" id="contactform">
                    <label class="label">Enrollment Number <em>*</em></label>
                    <label class="input">
                        <input type="text" name="e_number" id="e_number" value="" />
                    </label>

                    <div class="clearfix"></div>

                    <label class="label">Email <em>*</em></label>
                    <label class="input">
                        <input type="text" name="email" id="email" value="" />
                    </label>

                    <div class="clearfix"></div>

                    <label class="label">Grievance Department <em>*</em></label>
                    <label class="form-group input">
                        <select class="form-control input" name="dept" id="dept">
                            <option value="">Select</option>
                            <option value="1">Applied Mechanics</option>
                            <option value="2">Center of Excellence</option>
                            <option value="3">Civil Engineering</option>
                            <option value="4">Computer Science and Engineering</option>
                            <option value="5">Electrical Engineering</option>
                            <option value="6">Electronics and Communication</option>
                            <option value="7">General</option>
                            <option value="8">Mechanical Enigneering</option>
                            <option value="9">TEQIP-II</option>
                            <option value="10">College Campus</option>
                            <option value="11">Hostel</option>
                        </select>
                    </label>
                    @*<span class="error hidden" id="deptddlerr">Select grievence department</span>*@
                    <div class="clearfix"></div>

                    <label class="label">Subject <em>*</em></label>
                    <label class="input">
                        <input type="text" name="subject" id="subject" value="" />
                    </label>

                    <div class="clearfix"></div>

                    <label class="label">Message <em>*</em></label>
                    <label class="textarea">
                        <textarea rows="5" name="message" id="message"></textarea>
                    </label>

                    <div class="clearfix"></div>
                    <button type="button" class="button" id="btnsubmit">Register</button>

                </form>





            </div>

        </div>


    </div>
</div><!-- end content area -->

<div class="clearfix margin_top10"></div>

<div class="featured_section38">
    <div class="container">

        <h1 class="animate" data-anim-type="fadeIn" data-anim-delay="200">“Share your Grievence move forward <b>And Grow.” ...</b></h1>


    </div>
</div>
