@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Grievence";
}

<div class="clearfix"></div>


<div class="page_title3 grievance_title">
    <div class="container">

        <h1>
            Grievence Cell <em>Government Engineering College</em>
            <div class="line"></div>
        </h1>

    </div>
</div>
<div class="clearfix"></div>

<div class="content_fullwidth">
    <div class="featured_section55 animate" data-anim-type="fadeIn" data-anim-delay="100">
        <div class="container">

            <h2 class="caps">About GECP Grievence</h2>

            <br /><br />

            <div class="one_third">

                <h4 class="color3 margin_bottom2">GECP Grievence Cell</h4>
                <p class="bigtfont text-justify">
                    Government Engineering College, Patan has established an Grievance Cell, to provide a mechanism for redressal of students' grievances.
                    The function of the cell is to look into the complaints lodged by any student, and judge its merit. The Grievance cell is also empowered to look into matters of harassment.
                </p>

            </div>

            <!-- end section -->

            <div class="one_third">

                <img src="@Url.Content("~/images/grievence.jpg")" alt="" width="358.6px">

            </div>

            <!-- end section -->

            <div class="one_third last">

                <h4 class="color3 margin_bottom2">GECP Measures</h4>
                <p class="bigtfont text-justify">
                    The objective of the Grievance Cell in Government Engineering College, Patan is to develop a responsive and accountable attitude among all the students in order to maintain a harmonious educational atmosphere in the institute.
                </p>

            </div>



        </div>
    </div>

</div>


<div class="margin_top2"></div>
<div class="featured_section14">
    <div class="container">

        <div class="one_half animate" data-anim-type="fadeInLeft" data-anim-delay="300">

            <img src="@Url.Content("~/images/vision.png")" alt="" />
            <br /><br />
            <h3 class="white">Vision</h3>

            <p>To develop a responsible and accountable attitude among all the students in order to maintain a harmonious educational ambience in the institute and uphold the dignity & divinity of the college.</p>
            <br /><br />


        </div>

        <!-- end section -->


        <div class="one_half last animate" data-anim-type="fadeInRight" data-anim-delay="300">

            <img src="@Url.Content("~/images/mission.png")" alt="" />
            <br /><br />
            <h3 class="white">Mission</h3>

            <p>Advising students of the college to respect the right of dignity of one another. Encouraging the students to express their grievances/ suggestions freely for a smooth relationship and keep up the standard and discipline of the college.</p>
            <br /><br />


        </div>



    </div>
</div>
<div class="clearfix"></div>

<div class="content_fullwidth" style="padding: 0 !important">
    <img src="@Url.Content("~/images/CampusCommittee/Grievance/quote.jpg")" alt="" />
</div>
<div class="clearfix" style="background: #5076bb !important"></div>
<div class="featured_section38">
    <div class="container">

        <h1 class="animate" data-anim-type="fadeIn" data-anim-delay="200">“Share your Grievence, move forward <b>And Grow.” ...</b></h1>


    </div>
</div>