@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "SSIP";
}

<div class="clearfix"></div>


<div class="page_title3 ssip_title">
    <div class="container">

        <h1>
            Student Startup Innovation Program<em>Government Engineering College</em>
            <div class="line"></div>
        </h1>

    </div>
</div>
<div class="clearfix"></div>


<div class="content_fullwidth">
    <div class="featured_section55 animate" data-anim-type="fadeIn" data-anim-delay="100">
        <div class="container">

            <h2 class="caps">About SSIP Cell</h2>

            <br /><br />

            <div class="one_third">

                <h4 class="color3 margin_bottom2">SSIP Cell</h4>
                <p class="bigtfont text-justify">Government of Gujarat has developed a policy for providing assistance to Startups/Innovation. Under this scheme, any individual/group of individuals having innovative idea/concept will be eligible and/ or Universities/ education institutions, Incubation Centre/ PSUs/ R&D Institutions/ Private and other establishments will be eligible as an institution to support and mentor to innovators as approved by Committee.</p>

            </div>
            <!-- end section -->

            <div class="one_third">

                <img src="@Url.Content("~/images/CampusCommittee/SSIP/ssip.jpg")" alt="" width="358.6px">

            </div>
            <!-- end section -->

            <div class="one_third last">

                <h4 class="color3 margin_bottom2">GECP Measures</h4>
                <p class="bigtfont text-justify">
                    Startups in an economy's technology sectors is an important indicator of technological performance for several reasons. We at GEC, Patan encourage, identify and support innovators in the Campus, and provide them support.
                </p>

            </div>
            <!-- end section -->

        </div>
    </div>
</div>
<!-- end featured section 55 -->
<div class="margin_top2"></div>
<div class="featured_section14">
    <div class="container">

        <div class="one_half animate" data-anim-type="fadeInLeft" data-anim-delay="300">

            <img src="@Url.Content("~/images/vision.png")" alt="" />
            <br /><br />
            <h3 class="white">Vision</h3>

            <p>To create an integrated, state-wide, university-based innovation ecosystem to support innovations and ideas of young students and provide a conducive environment for optimum harnessing of their creative pursuit.</p>
            <br /><br />


        </div>
        <!-- end section -->

        <div class="one_half last animate" data-anim-type="fadeInRight" data-anim-delay="300">

            <img src="@Url.Content("~/images/mission.png")" alt="" />
            <br /><br />
            <h3 class="white">Mission</h3>

            <p>To explore and develop competitiveness, enhancing links between universities, industries and research institutions and contributing to the growth and success of emerging technology businesses.</p>
            <br /><br />


        </div>
        <!-- end section -->

    </div>
</div>
<!-- end featured section 14 -->
@*<div class="featured_section19">
        <div class="container">

            <div class="who animate" data-anim-type="fadeInLeft" data-anim-delay="400"><img src="@Url.Content("~/images/site-img16.png")" alt="" /></div>

            <div class="text animate" data-anim-type="fadeIn" data-anim-delay="500">

                <h1>SSIP Cell Head Message</h1>

                <p>Innovation is the key for every economy to grow, and innovation takes place at every layer of the society. The government of India has declared 2010-20 as the decade of innovation to unleash the creative potential of every Indian. The Government of India has also set up the "Atal Innovation Mission" and "Startup India, Stand-up India" mission to spearhead innovation movement across the nation. <br>The education department of the state government is aiming to leverage these avenues in a systematic manner by building student-centric innovation and preincubation processes. Harnessing the creative potential of young students across universities and educational institutions is also necessary to generate an entrepreneurial model of inclusive development.</p>
                <h2>Hitesh Panchal</h2>

            </div>

        </div>
    </div>*@
<!-- end featured section 19 -->
</div>