@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "CoE";
}

<div class="clearfix"></div>


<div class="page_title3">
    <div class="container">

        <h1>
            Center of Excellence <em>Government Engineering College</em>
            <div class="line"></div>
        </h1>

    </div>
</div>
<!-- end page title -->





<div class="content_fullwidth">

    <div class="container">

        <div class="one_half">

            <div id="owl-demo2" class="owl-carousel">

                @*<div><img src="@Url.Content("~/images/college.jpg")" alt="" class="rimg"></div>

                <div><img src="@Url.Content("~/images/college_gate.jpg")" alt="" class="rimg"></div>*@

                <div><img src="@Url.Content("~/images/Institute/CoE/CoE.jpg")" alt="" class="rimg"></div>

            </div>

        </div>
        <!-- end section -->

        <div class="one_half last">

            <div class="stcode_title5">
                <h3 class="nmb"><strong>About COE</strong></h3>
            </div>

            <p>
                Government Engineering College has initiated to build Centre of Excellence (COE) with an objective of developing industry institute partnership in the field of Automation, Mobile Hydraulic, Automobile, and Mobile Electronics Technologies to bridge technology gaps between industry and academia to foster research and knowledge among the students. The main goal would be to improve the technical competence, employability and entrepreneurship of students who train at the centre and encourage students to pursue PG programs
                <br />
                The centre of competence is established to bridge the gap between industry expectations and theoretical deficiencies with the objectives, to provide hands on experience to the students of engineering and polytechnics institutes to the recent technologies practiced in the industry and to enable all the students in different regions and rural areas to have exposure to industry and technologies, by the concept of center of excellence. 

            </p>

            <div class="clearfix marb12"></div>

        </div>
        <!-- end section -->

    </div>
    <!-- end all sections -->
    
</div>
<!-- end section -->

