@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Important Documents";
}
<style>
    .fabig {
        font-size: 150px;
        margin: auto;
        display: block !important;
    }

    .minheight {
        min-height: 270px;
        padding: 20px 15px !important;
    }
</style>
<div class="page_title3 placement_title">
    <div class="container">

        <h1>
            <br> Important Documents<em>Government Engineering College</em>
            <div class="line"></div>
            <br>
        </h1>

    </div>
</div>
<div class="clearfix margin_bottom6"></div>
<div class="content_fullwidth less">
    <div class="featured_section77 two">
        <div class="container">
            <div class="client_logos3 animate fadeIn" data-anim-type="fadeIn" data-anim-delay="300">

                <ul>

                    <li class="minheight">
                        <a href="@Url.Content("~/ImpDocs/GOVERNMENT ENGINEERING COLLEGE, AT.KATPUR, PATAN20240228-.pdf")">
                            <i class="fa fa-file-pdf-o fabig" aria-hidden="true"></i>
                            NIRF India Ranking 2024 Details
                        </a>
                    </li>
                    <li class="minheight">
                        <a href="@Url.Content("~/ImpDocs/EOA_Till_2024_25.pdf")">
                            <i class="fa fa-file-pdf-o fabig" aria-hidden="true"></i>
                            Aicte Extension of Approval till 2024-25
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>
