@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Rules & Regulations";
}

<div class="clearfix"></div>

<div class="page_title3 ec_title">
<div class="container">

    <h1>
        Rules & Regulations  
        <div class="line"></div>
    </h1>

</div>
</div>
<div class="margin_top10"></div>
<div class="featured_section30">
<div class="full-container" >
    
    <div class="" style="">
        <h3 class="nmb">Study and Discipline:</h3>
        <ul class="list-styled text-justify">
            @* <li class="">

                <i class="fas fa-hand-point-right"></i>
                All students are required to get enrolled at Gujarat Technological University by filling the prescribed form available on <a href="https://student.gtu.ac.in/Login.aspx" target="_blank" style="color: blue;">GTU Student Portal</a>.
            </li> *@
                <li class="">

                    <i class="fas fa-hand-point-right"></i>
                    All students are required to get enrolled at Gujarat Technological University by filling the prescribed form available at the student section.
                </li>
                <li class="">

                    <i class="fas fa-hand-point-right"></i>
                    The student will be required to abide by the rules and regulations along with instructions issued by the college authorities from time to time.
                </li>
            <li>
                <i class="fas fa-hand-point-right"></i>
                No student will indulge in the activities like ragging, misbehavior, indiscipline and will not help in promoting them. 
            </li>
            <li>
                <i class="fas fa-hand-point-right"></i>
                Students found indulging in any such activity will be immediately expelled from college.
            </li>
            <li>
                <i class="fas fa-hand-point-right"></i>
                The students are instructed to act and behave in a way to dignify the name of the college in the field of academic, sports, social service, economic development of the nation, such that one can be proud of being a student of this institute.
            </li>
        </ul>
        <h4>Attendance Rule:</h4>
            <ul class="list-styled text-justify">
            <li class='li inf text-justify'> <i class="fas fa-hand-point-right"></i> Minimum 75% attendance is must for filling the GTU Examination form and to appear in End Semester or External Examination.</li>
            <li> <i class="fas fa-hand-point-right"></i>10% of total absent of students due to illness may be considered by Institute. (Circular No: GTU/Circular/M.L./2011/2763 Date: 02-04-2011)</li>
            <li> <i class="fas fa-hand-point-right"></i>Example: If you are absent for 20 days due to illness then present of only 2 days will be considered. </li>
        </ul>
        <h4>Evaluation System of Gujarat Technological University (As per prevailing norms)</h4>
        <ul class="list-styled">
            <li class='li inf text-justify'> Evaluation system for degree engineering (B.E.) is divided in to two part viz. Theory and Practical component. The theory (written exam) component is further divided into two sub components. 70% weightage is given to External Exam conducted by the university and 30% weightage is for Mid Semester Exam conducted by the institute. The practical component of the examination consisting of 50 marks, is divided into two sub components: Internal component (20 marks) and Viva Voce (30 marks) The marks for the internal component are to be awarded by the instructor on the basis of assignments, seminars, quizzes, attendance and practical work etc. The scheme of assessment is to be decided by the instructor of the course and announced at the beginning of the course. For the component of Viva Voce, the pattern is different for semester 1 to 4 and semester 5 to 8 of B.E. For BE semester 1 to 4, the Viva Voce has to be conducted by the instructor of the course at the end of the semester while taking the submission of the term work/assignments. For BE semester 5 to 8, the Viva Voce is to be conducted by the external faculty appointed by the university.  The final grade of the subject is given after adding the marks secured by the student in all the components. The Marks will be converted to grade and then to grade point. Semester progressive index is then calculated using the grade points and credit of the subject. The passing marks required in each component as well the grade points corresponding to each grade are as mentioned below: </li>
        </ul>
      <div class="full-container table-responsive">
        <table class="table table-bordered table-striped" style="margin-top:10px;">
            <tr>
                <th>Sr. No.</th>
                <th>Courses</th>
                <th colspan=2 style="text-align:center;">University Theory Exam</th>
                <th colspan=2 style="text-align:center;">Mid Semester Exam</th>
                <th colspan=4 style="text-align:center;">Practical/ Continuous Evaluation/ Viva Voce etc.</th>
            </tr>



            <tr align="center">
                <td></td>
                <td></td>
                <td>Max.Marks</td>
                <td>Passing Marks</td>
                <td>Max.Marks</td>
                <td>Passing Marks</td>
                <td>Internal Max.Marks</td>
                <td>Internal Passing Marks</td>
                <td>Viva Voce Max.Marks</td>
                <td>Viva Voce Passing Marks</td>
            </tr>
            <tr align="center">
                <td>1</td>
                <td>B.E.</td>
                <td>70</td>
                <td>23</td>
                <td>30</td>
                <td>12</td>
                <td>20</td>
                <td>10</td>
                <td>30</td>
                <td>15</td>
            </tr>
        </table>
       </div>

        <table class="table table-bordered table-striped" style="margin-top:10px;">
            <tr>
                <th style="text-align:center;">Grade</th>
                <th style="text-align:center;">Grade Point</th>
                <th style="text-align:center;">Marks</th>

            </tr>

            <tr align="center">
                <td>AA</td>
                <td>10</td>
                <td>85-100</td>

            </tr>
            <tr align="center">
                <td>AB</td>
                <td>9</td>
                <td>75-84</td>

            </tr>
            <tr align="center">
                <td>BB</td>
                <td>8</td>
                <td>65-74</td>

            </tr>
            <tr align="center">
                <td>BC</td>
                <td>7</td>
                <td>55-64</td>

            </tr>
            <tr align="center">
                <td>CC</td>
                <td>6</td>
                <td>45-54</td>

            </tr>
            <tr align="center">
                <td>CD</td>
                <td>5</td>
                <td>40-44</td>

            </tr>
            <tr align="center">
                <td>DD</td>
                <td>4</td>
                <td>35-39</td>

            </tr>
            </tr>
            <tr align="center">
                <td>FF</td>
                <td>0</td>
                <td><35</td>

            </tr>

        </table>


        <!--      <h4>GTU Rules for Backlog:</h4>
               <ul class="list-styled">
                   <li class='li inf text-justify'> Evaluation system for degree engineering (B.E.) is simple and straightforward. 100% weight-age is given to written exam (70% External Exam + 30% Mid Sem Exam). Internal Grade (Term work &amp; Practical work) consists of 50 Marks. Marks will be converted to grade and then to grade point. </li>
               </ul>
               <table class="table table-bordered table-striped" style="margin-top:10px;">
                   <tr>
                       <th>Particulars</th>
                       <th style="text-align:center;">Marks</th>
                       <th style="text-align:center;">Minimum marks required for passing</th>
                   </tr>
                   <tr>
                       <td>Mid Semester Test conducted by Institutes</td>
                       <td align="center">30</td>
                       <td align="center">12</td>
                   </tr>
                   <tr>
                       <td>GTU End Semester Examination</td>
                       <td align="center">70</td>
                       <td align="center">23</td>
                   </tr>
                   <tr>
                       <td>Term Work, Practical,Attendance, etc...</td>
                       <td align="center">50</td>
                       <td align="center">25</td>
                   </tr>
               </table>  -->
        <h4>GTU Detention Rules:</h4>
            <ul class="list-styled text-justify">
            <li> <i class="fas fa-hand-point-right"></i> At any point in time, a student can have maximum 4 backlogs (FF) pending.</li>
            <li> <i class="fas fa-hand-point-right"></i>If backlogs are more than 4 than new subjects will not be allocated and he\she is detained for one year.</li>
            <li> <i class="fas fa-hand-point-right"></i>Immediate previous semester backlogs are not counted for detain purpose. </li>
            <li> <i class="fas fa-hand-point-right"></i> Example: Suppose you have 2 backlogs in Semester-I, 1 backlog in Semester-II and 3 backlogs in Semester-III and you are studying in 4th semester. Now Total Backlog = 6(2+1+3) but for detaining purpose only 3 (2+1) will be counted and you are not detained.</li>
            <li> <i class="fas fa-hand-point-right"></i> Attendance Rule: Minimum 75% attendance is must fill in GTU Examination form and to appear in End Semester or External Examination.</li>
            <li>  <i class="fas fa-hand-point-right"></i>10% of total absentia of students due to illness may be considered by Institute. (Circular No: GTU/Circular/M.L./2011/2763 Date: 02-04-2011).</li>
            <li> <i class="fas fa-hand-point-right"></i>Example: If you are absent for 20 days due to illness then present of only 2 days will be considered.</li>
        </ul>
    </div>
    <!-- End Content -->
</div>
</div>           