
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Time Table";
}
<div class="clearfix"></div>


<div class="page_title3 general_title">
    <div class="container">

        <h1>
            Time Table<em>Government Engineering College, Patan</em>
            <div class="line"></div>
        </h1>

    </div>
</div>

