@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Canteen";
}


<div class="clearfix"></div>


<div class="page_title3">
    <div class="container">

        <h1>
            Canteen  
            <div class="line"></div>
        </h1>

    </div>
</div>
<!-- end page title -->