@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "CentralFacilities";
}


<div class="clearfix"></div>


<div class="page_title3">
    <div class="container">

        <h1>
            Central Facilities <em>Government Engineering College</em>
            <div class="line"></div>
        </h1>

    </div>
</div>
<!-- end page title -->