@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "CenterOfExcellence";
}

<div class="clearfix"></div>


<div class="page_title3 coe_title">
    <div class="container">

        <h1>
            Center of Excellence <em>Government Engineering College</em>
            <div class="line"></div>
        </h1>

    </div>
</div>
<!-- end page title -->
<div class="content_fullwidth">

    <div class="container">

        <div class="one_half">

            <div id="owl-demo2" class="owl-carousel">

                @*<div><img src="@Url.Content("~/images/college.jpg")" alt="" class="rimg"></div>

                <div><img src="@Url.Content("~/images/college_gate.jpg")" alt="" class="rimg"></div>*@

                <div><img src="@Url.Content("~/images/Institute/CoE/CoE.jpg")" alt="" class="rimg"></div>

            </div>

        </div>
        <!-- end section -->

        <div class="one_half last text-justify">

            <div class="stcode_title5">
                <h3 class="nmb"><strong>About CoE</strong></h3>
            </div>

            <p>
                Government Engineering College has initiated to build Centre of Excellence (COE) with an objective of developing industry institute partnership in the field of Automation, Mobile Hydraulic, Automobile, and Mobile Electronics Technologies to bridge technology gaps between industry and academia to foster research and knowledge among the students. The main goal would be to improve the technical competence, employability and entrepreneurship of students who train at the centre and encourage students to pursue PG programs
                <br />
                The centre of competence is established to bridge the gap between industry expectations and theoretical deficiencies with the objectives, to provide hands on experience to the students of engineering and polytechnics institutes to the recent technologies practiced in the industry and to enable all the students in different regions and rural areas to have exposure to industry and technologies, by the concept of center of excellence.

            </p>

            <div class="clearfix marb12"></div>

        </div>
        <!-- end section -->

    </div>
    <!-- end all sections -->

</div>
<!-- end section -->
<div class="featured_section6">
    <div class="container">

        <h2>Benefits of CoE</h2>

        <div class="one_fourth animate" data-anim-type="fadeInUp" data-anim-delay="100">

            <i class="fas fa-tools"></i>
            <h4>Skills and Expertise</h4>

        </div><!-- end section -->

        <div class="one_fourth animate" data-anim-type="fadeInUp" data-anim-delay="200">

            <i class="fas fa-users"></i>
            <h4>An implementation approach</h4>

        </div><!-- end section -->

        <div class="one_fourth animate" data-anim-type="fadeInUp" data-anim-delay="300">

            <i class="fas fa-gavel"></i>
            <h4>Direction and Governance</h4>

        </div><!-- end section -->

        <div class="one_fourth animate" data-anim-type="fadeInUp" data-anim-delay="400">

            <i class="fas fa-database"></i>
            <h4>Data Governance and Integration</h4>

        </div><!-- end section -->

        <div class="clearfix"></div>

        <div class="one_fourth animate" data-anim-type="fadeInUp" data-anim-delay="500">

            <i class="fas fa-brain"></i>
            <h4>Access to Knowledge and Best Practices</h4>

        </div><!-- end section -->

        <div class="one_fourth animate" data-anim-type="fadeInUp" data-anim-delay="600">

            <i class="fas fa-laptop"></i>
            <h4>Tech-savy</h4>

        </div><!-- end section -->

        <div class="one_fourth animate" data-anim-type="fadeInUp" data-anim-delay="700">

            <i class="fas fa-headset"></i>
            <h4>Access to support</h4>

        </div><!-- end section -->

        <div class="one_fourth animate" data-anim-type="fadeInUp" data-anim-delay="800">

            <i class="fas fa-tasks"></i>
            <h4>Easy management</h4>

        </div><!-- end section -->
    </div>
</div><!-- end featured section 6 -->