@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Hostel";
}


<div class="clearfix"></div>


<div class="page_title3 coe_title">
    <div class="container">

        <h1>
            Hostel <em>Government Engineering College</em>
            <div class="line"></div>
        </h1>

    </div>
</div>
<!-- end page title -->

<div class="content_fullwidth">



    <div class="featured_section69 text-justify">
        <div class="container">

            <div class="one_half">

                    <img src="@Url.Content("~/images/gallary/1112.jpg")" alt="" class="rimg">

            </div>
            <!-- end section -->

            <div class="one_half last">

                    <h3>About Hostel</h3>
                    <p style="text-align:justify">
                        The institute provides excellent accommodation to its students. The students are provided with all the amenities so that their stay here becomes a worthwhile experience.
                        The institute has a boys hostel with capacity of 120 students and a girls hostel with capacity of 120 students.
                    </p>
                    <p class="margin_bottom1">
                        
                    </p>

                <table class="table table-striped table-bordered table-hover">
                    
                    <tr>
                        <th>
                            Hostel
                        </th>
                        <th>
                            Boys
                        </th>
                        <th>
                            Girls
                        </th>
                    </tr>
                    <tr>
                        <td style="text-align:left;">Number of Rooms</td>
                        <td style="text-align:right;">40</td>
                        <td style="text-align:right;">40</td>
                    </tr>
                    <tr>
                        <td style="text-align:left;">Capacity</td>
                        <td style="text-align:right;">120</td>
                        <td style="text-align:right;">120</td>
                    </tr>
                    <tr>
                        <td style="text-align:left;">Mess</td>
                        <td style="text-align:right;">1</td>
                        <td style="text-align:right;">1</td>
                    </tr>
                    <tr>
                        <td style="text-align:left;">T.T. Hall</td>
                        <td style="text-align:right;">1</td>
                        <td style="text-align:right;">1</td>
                    </tr>
                    <tr>
                        <td style="text-align:left;">Community Hall</td>
                        <td style="text-align:right;">1</td>
                        <td style="text-align:right;">1</td>
                    </tr>
                </table>
                    @*<p>Discover the undoubtable source Ipsum comes from sections.</p>*@

            </div>
            <!-- end section -->

        </div>
    </div>
    <!-- end featured section 69 -->
    <!-- end all sections -->
    
    <div class="clearfix"></div>

  @*  <div class="featured_section69 text-justify" style="background-color:#f2f2f2">
        <div class="margin_top2"></div>
        <div class="container center"> 

            <div class="one_half">

                <table class="table table-striped table-bordered table-hover">
                    <caption><h3>Hostels</h3></caption>
                    <tr>
                        <th>
                            Hostel
                        </th>
                        <th>
                            Boys
                        </th>
                        <th>
                            Girls
                        </th>
                     </tr>
                    <tr>
                        <td style="text-align:left;">Number of Rooms</td>
                        <td style="text-align:right;">40</td>
                        <td style="text-align:right;">40</td>
                    </tr>
                    <tr>
                        <td style="text-align:left;">Capacity</td>
                        <td style="text-align:right;">120</td>
                        <td style="text-align:right;">120</td>
                    </tr>
                    <tr>
                        <td style="text-align:left;">Mess</td>
                        <td style="text-align:right;">1</td>
                        <td style="text-align:right;">1</td>
                    </tr>
                    <tr>
                        <td style="text-align:left;">T.T. Hall</td>
                        <td style="text-align:right;">1</td>
                        <td style="text-align:right;">1</td>
                    </tr>
                    <tr>
                        <td style="text-align:left;">Community Hall</td>
                        <td style="text-align:right;">1</td>
                        <td style="text-align:right;">1</td>
                    </tr>
                </table>
            </div>
          <!--  <div class="one_half last">
                <table class="table table-striped table-bordered table-hover">
                    <caption><h3>Girls Hostel</h3></caption>

                    <tr>
                        <td style="text-align:left;">Number of Rooms</td>
                        <td style="text-align:right;">40</td>
                    </tr>
                    <tr>
                        <td style="text-align:left;">Capacity</td>
                        <td style ="text-align:right;">120</td>
                    </tr>
                    <tr>
                        <td style="text-align:left;">Mess</td>
                        <td style="text-align:right;">1</td>
                    </tr>
                    <tr>
                        <td style="text-align:left;">T.T. Hall</td>
                        <td style="text-align:right;">1</td>
                    </tr>
                    <tr>
                        <td style="text-align:left;">Community Hall</td>
                        <td style="text-align:right;">1</td>
                    </tr>
                </table>
            </div> -->
            <!-- end section -->
        </div>

    </div> *@
    <!-- end of featured section 60 -->
    <div class="margin_top2"></div>

</div>
</div>
<!-- end featured section 105 -->

<div class="clearfix"></div>



<div class="arrowdown_box">
    <div class="container">

        <h2 class="white">
            <p>Link For Blogspot:</p>
            <a href="https://hostelgecp.blogspot.com/">https://hostelgecp.blogspot.com/</a>
        </h2>

    </div>
</div>
<div class="clearfix"></div>

{
<div class="clearfix margin_bottom6"></div>
<div class="featured_section30">
    <div class="container">
        <h1 class="title22 animate" data-anim-type="fadeIn" data-anim-delay="100" style="color: black !important;">
            Committee Members
        </h1>
       
                <!-- end section -->

        <div class="clearfix margin_top5"></div>

        <div class="one_half animate" data-anim-type="fadeIn" data-anim-delay="400">

            <img src="@Url.Content("~/images/Faculty/EC/roshni.jpg")" alt="">
            <h5>Prof. R. A. Chaudhari <em>Coordinator</em></h5>
            <p>Electronics & Communication Engineering Department</p>
            <p>roshni.chaudhari@gecpatan.ac.in</p>
            @*  <br>
            <a href="#" class="button four">Read More</a> *@
        </div>

                <!-- end section -->

        <div class="one_half last animate" data-anim-type="fadeIn" data-anim-delay="400">

            <img src="@Url.Content("~/images/Faculty/EC/roshni.jpg")" alt="">
            <h5>Prof. R. A. Chaudhari <em>Coordinator</em></h5>
            <p>Electronics & Communication Engineering Department</p>
            <p>roshni.chaudhari@gecpatan.ac.in</p>
            @*  <br>
            <a href="#" class="button four">Read More</a> *@
        </div>
            
        
    </div>
</div>
<div class="clearfix margin_bottom6"></div>
}


