@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Library";
}


<div class="clearfix"></div>


<div class="page_title3 lib_title">
    <div class="container">

        <h1>
            Library<em>Government Engineering College</em>
            <div class="line"></div>
        </h1>

    </div>
</div>
<!-- end page title -->

<div class="content_fullwidth">



    <div class="featured_section69 text-justify">
        <div class="container">

            <div class="one_half">

                <h2 class="roboto caps">Welcome to GECP Library.</h2>
                <div class="hsmline6"></div>
                <br />
                <p class="bigtfont gray">On the basis of quality education, the library of the institute has been developed quite efficiently by the supportive faculties and is being updated constantly in order to avail our student's maximum knowledge and provide them a base to explore the future. It helps to keep the students updated with the latest technology and trends.</p>

            </div>
            <!-- end section -->

            <div class="one_half last">

                <div class="box animate" data-anim-type="fadeInUp" data-anim-delay="100">
                    <i class="fa fa-book"></i>
                    <h4 class="roboto">30900+ Books</h4>
                    @*<p>Discover the undoubtable source Ipsum comes from sections.</p>*@
                </div>
                <!-- end box -->

                <div class="box two animate" data-anim-type="fadeInUp" data-anim-delay="150">
                    <i class="fa fa-book"></i>
                    <h4 class="roboto">14000+ Periodicals</h4>
                    @*<p>Discover the undoubtable source Ipsum comes from sections.</p>*@
                </div>
                <!-- end box -->

                <div class="box three animate" data-anim-type="fadeInUp" data-anim-delay="200">
                    <i class="fa fa-bookmark"></i>
                    <h4 class="roboto">2400+ Research Reports</h4>
                    @*<p>Discover the undoubtable source Ipsum comes from sections.</p>*@
                </div>
                <!-- end box -->

                <div class="box four animate" data-anim-type="fadeInUp" data-anim-delay="250">
                    <i class="fa fa-user"></i>
                    <h4 class="roboto">87489+ Biography</h4>
                    @*<p>Discover the undoubtable source Ipsum comes from sections.</p>*@
                </div>
                <!-- end box -->

            </div>
            <!-- end section -->

        </div>
    </div>
    <!-- end featured section 69 -->
    <!-- end all sections -->

    <div class="margin_top2"></div>

    <div class="featured_section14">
        <div class="container">

            <div class="one_half animate" data-anim-type="fadeInLeft" data-anim-delay="300">

                <img src="@Url.Content("~/images/vision.png")" alt="" />
                <br /><br />
                <h3 class="white">Vision</h3>

                <p>To promote intellectual growth and creativity by developing collections, facilitating access to information resources, teaching the effective use of information resources. </p>
                <br /><br />


            </div>
            <!-- end section -->

            <div class="one_half last animate" data-anim-type="fadeInRight" data-anim-delay="300">

                <img src="@Url.Content("~/images/Library/icon-img13.png")" alt="" />
                <br /><br />
                <h3 class="white">Mission</h3>

                <p>
                    To develop, organize, provide access to and preserve materials to meet the needs of present and future generations of students and scholars.
                </p>
                <br /><br />


            </div>
            <!-- end section -->

        </div>
    </div>
    <!-- end featured section 14 -->
</div>
</div>
<!-- end featured section 105 -->

<div class="clearfix"></div>

<div class="content_fullwidth" style="padding: 0 !important">
    <img src="@Url.Content("~/images/Library/lib.jpg")" alt="" />
</div>
<div class="clearfix" style="background: #5076bb !important"></div>

<div class="featured_section38">
    <div class="container">

        <h1 class="animate" data-anim-type="fadeIn" data-anim-delay="200">"A Library is not Luxury its...<b>neccessity of Life.” ...</b></h1>


    </div>
</div>


