@model Medical
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.Title;
}


<div class="clearfix"></div>


<div class="page_title3 @Model.TitleImageCSSClass" style="background: #999 url(@Model.Titleimage) no-repeat center top;background-size: cover;">
    <div class="container">

        <h1>
            @Model.Title <em>Government Engineering College</em>
            <div class="line"></div>
        </h1>

    </div>
</div>
<!-- end page title -->


<div class="clearfix margin_bottom4"></div>

<div class="featured-section69">
    <div class="container">
        <div class="card mb-4" style="border:2px solid; border-radius:6px;">
            <div class="row no-gutters" style="margin:10px">
                <div class="">
                    @foreach (var des in Model.Descriptions)
                    {
                    <div class="card-body">
                        
                        <p class="card-text text-justify" style="color: black; width:100%">@des.Point</p>
                        <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                    </div>
                    <div class="margin_bottom1"></div>
                }
                   @* <div class="card-body">
                        
                        <p class="card-text text-justify" style="color: black; width:100%">The Placement Cell in Vishwakarma Government Engineering College has been operational with the dual objective of imparting preparatory coaching to students and liaison with the industry to arrange campus selection. The cell has dedicated resources like TPO Office, Group Discussion room and Interview cabins for facilitating various activities related to training the students for placements. It is a prime resource for nurturing industry academia linkage.</p>
                        <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                    </div>
                    <div class="margin_bottom1"></div>
                    <div class="card-body">
                        
                        <p class="card-text text-justify" style="color: black; width:100%">The Placement Cell in Vishwakarma Government Engineering College has been operational with the dual objective of imparting preparatory coaching to students and liaison with the industry to arrange campus selection. The cell has dedicated resources like TPO Office, Group Discussion room and Interview cabins for facilitating various activities related to training the students for placements. It is a prime resource for nurturing industry academia linkage.</p>
                        <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                    </div>
                    <div class="margin_bottom1"></div>
                    <div class="card-body">
                        
                        <p class="card-text text-justify" style="color: black; width:100%">The Placement Cell in Vishwakarma Government Engineering College has been operational with the dual objective of imparting preparatory coaching to students and liaison with the industry to arrange campus selection. The cell has dedicated resources like TPO Office, Group Discussion room and Interview cabins for facilitating various activities related to training the students for placements. It is a prime resource for nurturing industry academia linkage.</p>
                        <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                    </div>
                    <div class="margin_bottom1"></div>*@
                </div>
            </div>
        </div>
    </div>
</div>

<div class="clearfix margin_bottom4"></div>