@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "News Letter";
}
<div class="page_title3 placement_title">
    <div class="container">

        <h1>
            <br> News Letters<em>Government Engineering College</em>
            <div class="line"></div>
            <br>
        </h1>

    </div>
</div>
<div class="clearfix margin_bottom6"></div>
<div class="content_fullwidth less">
    <div class="featured_section121">

        <div id="cd-timeline" class="cd-container">

            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-picture"> <img src="images/peop-img7.jpg" alt="" /> </div>
                <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                    <h2>Title of section 1</h2>
                    <p class="text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
                    <a href="#" class="cd-read-more">Read more</a> <span class="cd-date"><strong>May 18</strong></span>
                </div>
                <!-- cd-timeline-content -->
            </div>
            <!-- cd-timeline-block -->

            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-movie"> <img src="images/peop-img8.jpg" alt="" /> </div>
                <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                    <h2>Title of section 2</h2>
                    <p class="text">Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years.</p>
                    <a href="#" class="cd-read-more">Read more</a> <span class="cd-date"><b>May 17</b></span>
                </div>
                <!-- cd-timeline-content -->
            </div>
            <!-- cd-timeline-block -->

            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-picture"> <img src="images/peop-img9.jpg" alt="" /> </div>
                <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                    <h2>Title of section 3</h2>
                    <p class="text">Majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All Lorem Ipsum generators making this the first true generator on the Internet.</p>
                    <a href="#" class="cd-read-more">Read more</a> <span class="cd-date"><strong>May 16</strong></span>
                </div>
                <!-- cd-timeline-content -->
            </div>
            <!-- cd-timeline-block -->

            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-location"> <img src="images/peop-img10.jpg" alt="" /> </div>
                <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                    <h2>Title of section 4</h2>
                    <p class="text">Generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always.</p>
                    <a href="#" class="cd-read-more">Read more</a> <span class="cd-date"><b>May 15</b></span>
                </div>
                <!-- cd-timeline-content -->
            </div>
            <!-- cd-timeline-block -->

            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-picture"> <img src="images/peop-img11.jpg" alt="" /> </div>
                <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                    <h2>Title of section 5</h2>
                    <p class="text">Majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All Lorem Ipsum generators making this the first true generator on the Internet.</p>
                    <a href="#" class="cd-read-more">Read more</a> <span class="cd-date"><strong>May 14</strong></span>
                </div>
                <!-- cd-timeline-content -->
            </div>
            <!-- cd-timeline-block -->

            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-location"> <img src="images/peop-img12.jpg" alt="" /> </div>
                <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                    <h2>Title of section 6</h2>
                    <p class="text">Generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always.</p>
                    <a href="#" class="cd-read-more">Read more</a> <span class="cd-date"><b>May 13</b></span>
                </div>
                <!-- cd-timeline-content -->
            </div>
            <!-- cd-timeline-block -->

            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-picture"> <img src="images/peop-img13.jpg" alt="" /> </div>
                <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                    <h2>Title of section 7</h2>
                    <p class="text">Majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All Lorem Ipsum generators making this the first true generator on the Internet.</p>
                    <a href="#" class="cd-read-more">Read more</a> <span class="cd-date"><strong>May 12</strong></span>
                </div>
                <!-- cd-timeline-content -->
            </div>
            <!-- cd-timeline-block -->

            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-location"> <img src="images/peop-img14.jpg" alt="" /> </div>
                <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                    <h2>Title of section 8</h2>
                    <p class="text">Generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always.</p>
                    <a href="#" class="cd-read-more">Read more</a> <span class="cd-date"><b>May 11</b></span>
                </div>
                <!-- cd-timeline-content -->
            </div>
            <!-- cd-timeline-block -->

        </div>

    </div>
</div><!-- end content area -->



<div class="clearfix"></div>

@section scripts{
    <script>
        (function ($) {
            "use strict";

            jQuery(document).ready(function ($) {
                var $timeline_block = $('.cd-timeline-block');

                //hide timeline blocks which are outside the viewport
                $timeline_block.each(function () {
                    if ($(this).offset().top > $(window).scrollTop() + $(window).height() * 0.75) {
                        $(this).find('.cd-timeline-img, .cd-timeline-content').addClass('is-hidden');
                    }
                });

                //on scolling, show/animate timeline blocks when enter the viewport
                $(window).on('scroll', function () {
                    $timeline_block.each(function () {
                        if ($(this).offset().top <= $(window).scrollTop() + $(window).height() * 0.75 && $(this).find('.cd-timeline-img').hasClass('is-hidden')) {
                            $(this).find('.cd-timeline-img, .cd-timeline-content').removeClass('is-hidden').addClass('bounce-in');
                        }
                    });
                });
            });

        })(jQuery);
    </script>
}

@section styles{
    <!-- timeline -->
    <link rel="stylesheet" href="js/timeline/timeline.css">
}