@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "ContactUs";
}

<div class="clearfix"></div>


<div class="page_title3">
    <div class="container">

        <h1>
             Contact Us <em>Government Engineering College</em>
            <div class="line"></div>
        </h1>

    </div>
</div>
<div class="clearfix"></div>

<div class="content_fullwidth less2">
    <div class="container">
        <div class="one_half">

            <div class="address_info">

                <h4>College <strong>Address</strong></h4>
                <ul>
                    <li>
                        <strong>GOVERNMENT ENGINEERING COLLEGE,AT. KATPUR, PATAN</strong><br />
                        At & Post. Katpur, Patan, Gujarat-384265<br />
                        Telephone: 2766291560<br />
                        @*FAX: +1 0123-4567-8900<br />*@
                        E-mail: <a href="mailto:principalgecpatan@gmail.com">principalgecpatan@gmail.com</a><br />
                        @*Website: <a href="index.html">www.yoursitename.com</a>*@
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
            <h4>College <strong>Location</strong></h4>
            <iframe class="google-map" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3650.2602485922553!2d72.10120971429814!3d23.80934299244041!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395c7d0db6c534b3%3A0x34c9aef47a82f519!2sGovernment%20Engineering%20College%2C%20Patan!5e0!3m2!1sen!2sin!4v1592198287103!5m2!1sen!2sin"></iframe>
            <br />
            <small><a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3650.2602485922553!2d72.10120971429814!3d23.80934299244041!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395c7d0db6c534b3%3A0x34c9aef47a82f519!2sGovernment%20Engineering%20College%2C%20Patan!5e0!3m2!1sen!2sin!4v1592198287103!5m2!1sen!2sin">View Larger Map</a></small>
        </div>

        <div class="one_half last">

            <p>Feel free to talk to our online representative at any time you please using our Live Chat system on our website or one of the below instant messaging programs.</p>
            <br /><br />
            
            <div class="cforms">


                <div id="form_status"></div>

                <form type="POST" id="contactform">

                    <label class="label">Name<em>*</em></label>
                    <label class="input">
                        <input type="text" name="name" id="name" value="" />
                    </label>

                    <div class="clearfix"></div>

                    <label class="label">Email <em>*</em></label>
                    <label class="input">
                        <input type="text" name="email" id="email" value="" />
                    </label>

                    <div class="clearfix"></div>


                    <label class="label">Phone <em>*</em></label>
                    <label class="input">
                        <input type="text" name="phone" id="phone" value="" />
                    </label>

                    <div class="clearfix"></div>

                    <label class="label">Subject <em>*</em></label>
                    <label class="textarea">
                        <textarea rows="5" name="subject" id="subject"></textarea>
                    </label>

                    <div class="clearfix"></div>

                    <label class="label">Message <em>*</em></label>
                    <label class="textarea">
                        <textarea rows="5" name="message" id="message"></textarea>
                    </label>

                    <div class="clearfix"></div>
                    <button type="button" class="button" id="btnsubmit">Send Message</button>

                </form>





            </div>

        </div>


    </div>
</div><!-- end content area -->

<div class="clearfix margin_top12"></div>

<footer class="footer" style="padding:0 0 0 0">
    @*<div class="container">
            <div class="one_fourth animate" data-anim-type="fadeInUp" data-anim-delay="100">
                <ul class="faddress">
                    <li><img src="images/footer-logo.png" alt="" /></li>
                    <li><i class="fa fa-map-marker fa-lg"></i>&nbsp; 2901 Marmora Road, Glassgow,<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Seattle, WA 98122-1090</li>
                    <li><i class="fa fa-phone"></i>&nbsp; 1 -234 -456 -7890</li>
                    <li><i class="fa fa-print"></i>&nbsp; 1 -234 -456 -7890</li>
                    <li><a href="mailto:info@yourdomain.com"><i class="fa fa-envelope"></i>&nbsp; info@yourdomain.com</a></li>
                    <li><img src="images/footer-wmap.png" alt="" /></li>
                </ul>
            </div><!-- end address -->

            <div class="one_fourth animate" data-anim-type="fadeInUp" data-anim-delay="200">
                <div class="qlinks">

                    <h4>Useful Links</h4>

                    <ul>
                        <li><a href="#"><i class="fa fa-angle-right"></i> Home Page Variations</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i> Awsome Slidershows</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i> Features and Typography</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i> Different &amp; Unique Pages</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i> Single and Portfolios</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i> Recent Blogs or News</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i> Layered PSD Files</a></li>
                    </ul>

                </div>
            </div><!-- end links -->

            <div class="one_fourth animate" data-anim-type="fadeInUp" data-anim-delay="300">
                <div class="siteinfo">

                    <h4>Twitter Feeds</h4>

                    <ul class="twitter_feeds_three">

                        <li class="bhline">
                            <i class="fa fa-twitter fa-lg"></i> <a href="https://twitter.com/gsrthemes9" target="_blank">gsrthemes9</a>: Hoxa - Responsive html5 Professional Theme
                            <em>.9 days ago &nbsp;.<a href="#">reply</a> &nbsp;.<a href="#">retweet</a> &nbsp;.<a href="#">favorite</a></em>
                        </li>

                        <li>
                            <i class="fa fa-twitter fa-lg"></i> <a href="https://twitter.com/gsrthemes9" target="_blank">gsrthemes9</a>: elos - Responsive HTML5 / CSS3, Simple, Clean and Professional Multipurpose Use.
                            <em>.12 days ago &nbsp;.<a href="#">reply</a> &nbsp;.<a href="#">retweet</a> &nbsp;.<a href="#">favorite</a></em>
                        </li>

                    </ul>

                </div>
            </div><!-- end site info -->

            <div class="one_fourth last animate" data-anim-type="fadeInUp" data-anim-delay="400">

                <h4>Flickr Photos</h4>

                <div id="flickr_badge_wrapper">

                    <a href="#" target="_blank"><img src="images/flickr1.jpg" alt=""></a>
                    <a href="#" target="_blank"><img src="images/flickr2.jpg" alt=""></a>
                    <a href="#" target="_blank"><img src="images/flickr3.jpg" alt=""></a>
                    <a href="#" target="_blank"><img src="images/flickr4.jpg" alt=""></a>
                    <a href="#" target="_blank"><img src="images/flickr5.jpg" alt=""></a>
                    <a href="#" target="_blank"><img src="images/flickr6.jpg" alt=""></a>
                    <a href="#" target="_blank"><img src="images/flickr7.jpg" alt=""></a>

                </div>

            </div><!-- end flickr -->
        </div><!-- end footer -->
        <div class="clearfix"></div>*@
    <div class="copyright_info" style="margin:0 0 0 0">
        <div class="container">
            <div class="clearfix divider_dashed10"></div>

            <div class="one_half animate" data-anim-type="fadeInRight" data-anim-delay="300">

                Copyright © 2020 gecpatan.ac.in. All rights reserved.  @*<a href="#">Terms of Use</a> | <a href="#">Privacy Policy</a>*@

            </div>
        </div>
    </div><!-- end copyright info -->

</footer>

<a href="#" class="scrollup">Scroll</a><!-- end scroll to top of the page-->

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js" integrity="sha256-+BEKmIvQ6IsL8sHcvidtDrNOdZO3C9LtFPtF2H0dOHI=" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(document).ready(function () {

             $("#contactform").validate({
                rules: {
                    e_number: {
                        required: true,
                        number: true,
                        minlength: 12,
                        maxlength: 12
                    },
                    email: {
                        required: true,
                        email: true
                    },
                    dept: {
                        required: true
                    },
                    subject: {
                        required: true
                    },
                    message: {
                        required: true
                    }
                },
                messages: {
                    e_number: {
                        required: "Enter your enrollment number",
                        number: "Enver valid enrollment number",
                        minlength: "Enver valid enrollment number",
                        maxlength: "Enver valid enrollment number"
                    },
                    email: {
                        required: "Enter your email",
                        email: "Enter valid email",
                    },
                    dept: {
                        required: "Select grievence department"
                    },
                    subject: {
                        required: "Enter subject"
                    },
                    message: {
                        required: "Enter message"
                    }
                }
            })
            $('#btnsubmit').click(function (e) {
                //debugger;
                //if ($("#dept").val() === '' || $("#dept").val() === null ) {
                //    $("#deptddlerr").removeClass('hidden')
                //}
                //else {
                //    $("#deptddlerr").addClass('hidden')
                //}
                if ($("#contactform").valid()) {
                    $.ajax({
                        "method": "POST",
                        "url": "@Url.Action("Index","ContactUs")",
                        "data": $("#contactform").serialize(),
                        "success": function (data) {
                            alert(data)
                        }
                    })
                    //alert($("#contactform").valid())
                }
                //e.preventDefault();



            });
        });
    </script>
}



