
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "CampusMap";
}
<div class="clearfix"></div>


<div class="page_title3">
    <div class="container">

        <h1>
            Campus Map <em>Government Engineering College</em>
            <div class="line"></div>
        </h1>

    </div>
</div>



<div class="content_fullwidth less2">
    <div class="container">


        <div class="portfolio_area">

            <div class="portfolio_area_left">
                <a href="#" target="_blank"><img src="http://www.gecpt.cteguj.in//gmcastudent/img/campus_map.jpg" alt="" /></a>
            </div>

            <div class="portfolio_area_right">

                <h3>GECP MAP</h3>

                <p>There are many variations passages available alteraised words which look even slightly believable.</p>



                <div class="project_details">
                    <h5 class="light">Map Details</h5>
                    <span><strong>Date</strong> <em>18 May 2015</em></span>
                    <span><strong>Categories</strong> <em><a href="#">Animation</a> <a href="#">Departments</a> <a href="#">Lab</a> <a href="#">Workshops</a> </em></span>
                    <span><strong>Author</strong> <em>GECP</em></span>
                    <div class="clearfix margin_top5"></div>
                    <a href="ec.html" class="but_calendar"><i class="fa fa-hand-o-right fa-lg"></i>&nbsp; View all Departments</a>
                </div>

            </div>

        </div>


    </div>
</div>
<!-- end content area -->
<div class="clearfix margin_top12"></div>
