
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "CampusMap";
}
<div class="clearfix"></div>


<div class="page_title3">
    <div class="container">

        <h1>
            Campus Map <em>Government Engineering College</em>
            <div class="line"></div>
        </h1>

    </div>
</div>



<div class="content_fullwidth less2">
    <div class="container">


        <div class="portfolio_area">

           <div class="portfolio_area_left">
                <a href="#" target="_blank"><img src="http://www.gecpt.cteguj.in//gmcastudent/img/campus_map.jpg" alt="" /></a>
            </div>
            <div class="portfolio_area_right">

                <h3>GECP MAP</h3>

                <p>currently not available</p>



              

            </div>

        </div>


    </div>
</div>
<!-- end content area -->
<div class="clearfix margin_top12"></div>
