
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Canteen";
}
<div class="clearfix"></div>


<div class="page_title3">
    <div class="container">

        <h1>
            Canteen<em>Government Engineering College</em>
            <div class="line"></div>
        </h1>
    </div>
</div>
<div class="margin_top2"></div>

<div class="works01">
    <div class="container">

        <div id="filters-container" class="cbp-l-filters-button">
            <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
                Canteen
                <div class="cbp-filter-counter"></div>
            </div>
            <div data-filter=".identity" class="cbp-filter-item">
                Canteen Menu
                <div class="cbp-filter-counter"></div>
            </div>
            <div data-filter=".web-design" class="cbp-filter-item">
                Canteen Food
                <div class="cbp-filter-counter"></div>
            </div>


        </div>


        <div id="grid-container" class="cbp-l-grid-fullWidth">

            <div class="cbp-item identity logos">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                      
                        <img src="@Url.Content("~/images/gallary/canteen.jpg")" alt="" style="width:358.6px; height:199.783px">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <h4>canteen</h4>
                               
                                <a href="~/images/gallary/canteen.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Model as Structures <br>reasonable always">view larger</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end item -->
            
        <!--<div class="cbp-l-loadMore-text">
            <div data-href="ajax/loadMore.html" class="cbp-l-loadMore-text-link">LOADING...</div>
        </div>-->


    </div>
</div>
<!-- end works section -->

<div class="clearfix margin_top2"></div>
