
@{Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Gallery";
}
<div class="clearfix"></div>


<div class="page_title3">
    <div class="container">

        <h1>
            Gallery<em>Government Engineering College</em>
            <div class="line"></div>
        </h1>

    </div>
</div>
<div class="margin_top2"></div>

<div class="works01">
    <div class="container">

        <div id="filters-container" class="cbp-l-filters-button">
            <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
                NSS Activities
                <div class="cbp-filter-counter"></div>
            </div>
            <div data-filter=".identity" class="cbp-filter-item">
                Annual Day Celebration 2019
                <div class="cbp-filter-counter"></div>
            </div>
            <div data-filter=".web-design" class="cbp-filter-item">
                Fresher's 2019
                <div class="cbp-filter-counter"></div>
            </div>
            <div data-filter=".graphic" class="cbp-filter-item">
                Auditorium Hall
                <div class="cbp-filter-counter"></div>
            </div>
            <div data-filter=".logos" class="cbp-filter-item">
                Library
                <div class="cbp-filter-counter"></div>
            </div>
            <div data-filter=".logos" class="cbp-filter-item">
                Workshops
                <div class="cbp-filter-counter"></div>
            </div>

        </div>


        <div id="grid-container" class="cbp-l-grid-fullWidth">

            <div class="cbp-item identity logos">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="images/media/works-img1.jpg" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <h4>Model as Structures</h4>
                                <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                <a href="images/media/works-img1.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Model as Structures <br>reasonable always">view larger</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end item -->

            <div class="cbp-item web-design">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="images/media/works-img2.jpg" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <h4>Looking Publishing</h4>
                                <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                <a href="images/media/works-img2.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Looking Publishing <br>reasonable always">view larger</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end item -->

            <div class="cbp-item identity">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="images/media/works-img3.jpg" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <h4>Webpage as Packages</h4>
                                <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                <a href="images/media/works-img3.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Webpage as Packages <br>reasonable always">view larger</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end item -->

            <div class="cbp-item web-design">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="images/media/works-img4.jpg" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <h4>Software Versions</h4>
                                <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                <a href="images/media/works-img4.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Software Versions <br>reasonable always">view larger</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end item -->

            <div class="cbp-item graphic">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="images/media/works-img5.jpg" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <h4>Printer took Galley</h4>
                                <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                <a href="images/media/works-img5.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Printer took Galley <br>reasonable always">view larger</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end item -->

            <div class="cbp-item">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="images/media/works-img6.jpg" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <h4>Popularise Release</h4>
                                <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                <a href="images/media/works-img6.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Popularise Release <br>reasonable always">view larger</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end item -->

            <div class="cbp-item graphic web-design">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="images/media/works-img7.jpg" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <h4>Classical Through</h4>
                                <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                <a href="images/media/works-img7.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Classical Through <br>reasonable always">view larger</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end item -->

            <div class="cbp-item logos">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="images/media/works-img8.jpg" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <h4>Alteration Words</h4>
                                <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                <a href="images/media/works-img8.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Alteration Words <br>reasonable always">view larger</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end item -->

            <div class="cbp-item web-design">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="images/media/works-img5.jpg" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <h4>Printer took Galley</h4>
                                <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                <a href="images/media/works-img5.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Printer took Galley <br>reasonable always">view larger</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end item -->

            <div class="cbp-item graphic">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="images/media/works-img6.jpg" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <h4>Popularise Release</h4>
                                <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                <a href="images/media/works-img6.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Popularise Release <br>reasonable always">view larger</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end item -->

            <div class="cbp-item logos web-design">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="images/media/works-img7.jpg" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <h4>Classical Through</h4>
                                <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                <a href="images/media/works-img7.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Classical Through <br>reasonable always">view larger</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end item -->

            <div class="cbp-item">
                <div class="cbp-caption graphic">
                    <div class="cbp-caption-defaultWrap">
                        <img src="images/media/works-img8.jpg" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <h4>Alteration Words</h4>
                                <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                <a href="images/media/works-img8.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Alteration Words <br>reasonable always">view larger</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end item -->

        </div>

        <!--<div class="cbp-l-loadMore-text">
            <div data-href="ajax/loadMore.html" class="cbp-l-loadMore-text-link">LOADING...</div>
        </div>-->


    </div>
</div>
<!-- end works section -->


<div class="clearfix margin_top2"></div>


